.navgation > ul:nth-child(3) li:nth-child(2) a {
    color: #F896A9;
}

.gallery {
    padding: 80px 0;
}

h2 {
    text-align: center;
    font-size: 30px;
    width: 28%;
    margin: 0 auto 40px;
}

h2:before {
    display: block;
    border-bottom: 4px solid #F896A9;
    width: 40px;
    height: 15px;
    content: "";
    float: left;
}

h2:after {
    display: block;
    border-bottom: 4px solid #F896A9;
    width: 40px;
    height: 15px;
    content: "";
    float: right;
}

.gallery_lists {
	display: flex;
	flex-wrap: wrap;
}

.gallery_list {
	width: 32%;
	border: 5px solid #fff;
	box-shadow: 0 0 5px #aaa;
	margin: 15px 7px;
	position: relative;
	overflow: hidden;
}

.gallery_list img {
	width: 100%;
}

.gallery_mark {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #F896A9;
	opacity: 0;
	transition: all .5s ease-out .1s;
}

.gallery_mark h4 {
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	margin-top: 25px;
}

.gallery_mark p {
	
	color: #fff;
	font-size: 14px;
	font-style: italic;
	line-height: 2em;
	padding: 20px;
	padding-bottom: 0;
	text-align: center;
	/*文本溢出隐藏*/
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    opacity: 0;
    transition: all .5s linear;
	transform: translate3d(0,-200px,0);
}

.gallery_list img {
	transition: all .5s linear;
}

.gallery_list:hover img {
	transform: rotate(720deg) scale(0);
}

.gallery_list:hover .gallery_mark {
	opacity: 1;
}

.gallery_list:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}